{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Korrigan Manager</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static "/css/common.css" %}" />
    <link rel="stylesheet" href="{% static "/css/header.css" %}" />
    <link rel="stylesheet" href="{% static "/css/topbar.css" %}" />
    <link rel="stylesheet" href="{% static "/css/menu.css" %}" />
    <link rel="stylesheet" href="{% static "/css/content.css" %}" />

</head>

<body>
   <div class="topbar">
      <a href="/admin"><button>administration</button></a>
      <h3>Korrigan Manager</h3>
   </div>
   <div class="row ">
       <br/>
    </div>
    <ul>
        <div class="row">
            <li class="large-2"><a class="active"><span><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp; Classement</span></a></li>
            <li class="large-2"><a><span><i class="fa fa-microphone" aria-hidden="true"></i>&nbsp;&nbsp; Ronde 1</span></a></li>
            <li class="large-2"><a><span><i class="fa fa-signal" aria-hidden="true"></i>&nbsp;&nbsp; Ronde 2</span></a></li>
            <li class="large-2"><a><span><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp; Ronde 3</span></a></li>
            <li class="large-2"><a><span><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp; Ronde 4</span></a></li>
            <li class="large-2"><a><span><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp;&nbsp; Ronde 5</span></a></li>
        </div>
    </ul>
    
    <div class="content">
        <div class="row">
            <div class="large-12 columns ">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <div class="panel-content">
                        <div class="row columns">
                        </div>
                        <br/>
                        <div class="row">
                                <div class="large-9 large-centered note">
                                </div>
                            </div>
                        <div class="row columns">
                                <div class="large-12">
                                    <table>
                                        <thead>
                                            <tr class="">
                                                <th width="50"></th>
                                                <th width="100">Nom</th>
                                                <th width="150">Ligue</th>
                                                <th width="150">Points</th>
                                                <th width="150">V</th>
                                                <th width="150">N</th>
                                                <th width="150">D</th>
                                                <th width="150">TD</th>
                                                <th width="150">sor</th>
                                                <th width="150">int</th>
                                                <th width="150">pas</th>
                                                <th width="150">aggro</th>
                                            </tr>
                                        </thead>
                                        <tbody class="roster">
                                        {% for coach in coach_list %}
                                            <tr>
                                                <td>1</td>
                                                <td>{{ coach.name }}</td>
                                                <td>{{ coach.league.name }}</td>
                                                <td>{{ coach.points }}</td>
                                                <td>{{ coach.nb_win }}</td>
                                                <td>{{ coach.nb_draw }}</td>
                                                <td>{{ coach.nb_lose }}</td>
                                                <td>{{ coach.TD_tot }}</td>
                                                <td>{{ coach.cas_tot }}</td>
                                                <td>{{ coach.interception_tot }}</td>
                                                <td>{{ coach.passes_tot }}</td>
                                                <td>{{ coach.aggros_tot }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    <hr>
    <div class="footer text-centered">
        <p>Réalisé par Bagouze</p>
    </div>  
</body>


</html>
